APP_NAME=I2D ML Service
DEBUG=False
API_V1_PREFIX=/api/v1

YOLO_MODEL_PATH=yolov8n.pt
YOLO_CONFIDENCE=0.4
YOLO_IOU=0.5
CROP_PADDING=20

LM_STUDIO_URL=http://127.0.0.1:1234/v1
LM_STUDIO_API_KEY=lm-studio
LM_STUDIO_MODEL=qwen/qwen3.5-9b
LLM_TEMPERATURE=0.4
LLM_TOP_P=0.9
LLM_MAX_TOKENS=2000
